/*Body remove overflow that appeared from nowhere */
body{
	overflow-x: hidden;
}

/* banner visuals */
.banner{
	background-color: #0f598a;
}

/* virus icon */
.banner Img {
    height: 36px;
	margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* app title*/
.banner h5{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: left;

	color: #FFFFFF;

    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;

}

#measure_input {
	margin-left: 20px;
	margin-right: 30px;
  }

/* tabs visuals */
.jsx-3468109796.tab.custom-tab{
	background-color: #1372B3;
    color: #fff;
	border: 1px solid #1372B3;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

.tab.jsx-3468109796{
	background-color: #1372B3;
    color: #fff;
	border: 1px solid #1372B3;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

.tab.jsx-3468109796:hover{
	background-color: #0f598a;
}

.tab--selected.jsx-3468109796{
	background-color: #0f598a !important;
}

/* max width for the Dropdown */
.Select-control{
	max-width: 500px;
}

/* table header */
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th{
	background-color: transparent !important;
	color: #fff;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	
	text-align: left !important;
	
	border-color: transparent !important;
	border-width: 2px 4px;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner tr:hover{
	background-color: transparent !important;
}

/* table cells */
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td{
	background-color: #666666 !important;
	color: #fff;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px !important;
	
	text-align: center !important;
	
	border-color: transparent !important;
	border-width: 3px 8px !important;
}

/* button style */
button{
	color: #1892E6;
	background-color: transparent;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	
	margin-top: 16px;
	
	border: 1px solid #1B8EDC;
	box-sizing: border-box;
}

#facts{
	color: #1892E6;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}

/* h5 text used for sidebar titles */
h5{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;

	color: #FFFFFF;
}

/* h2 */
h2{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	
	margin-top: 10px;
    margin-left: 50px;
}

/* horizontal line */
hr{
	border: 1px solid #666666;
}